* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    padding-bottom: 100px;;
}
#navbar_assort {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align:center;
    background-color: rgb(156, 182, 167);
    text-decoration: none;
    
}
.nav-item a:hover {
    background-color: rgb(56, 85, 68);
    color: white;
}
.nav-item2 a:hover {
    background-color: rgb(56, 85, 68);
    color: white;
}

.nav-item1 a:hover {
    background-color: rgb(56, 85, 68);
    color: white;
}

.nav-item1 {
    position:relative;
    left: 120%;
}
.nav-item2 {
    position: relative;
    left: 120%;
}

.category_header {
    text-align: center;
}

/* Card */

#cardImage {
    width: 1.5rem;
}
.category{
    background:white;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    padding-top: 1rem;
}

.card-title{
    font-size: 1.2rem;
    font-weight: 600;
 
}
.card-text{
    color: rgb(10, 8, 8);
}
.category_header{
    color: rgb(86, 92, 106);
   padding: 1rem;
}
.card{
    width: 100%;
}
.card-body{
   display:flex;
   flex-direction: column;
   justify-content: flex-end;
}
.card-footer{
    background: none;
    border-top: none;
}
.rating{
    font-size: small;
    margin-bottom: 0;
}
.card-img-top{
  padding: 20px;
    
}
.price{
    font-size: larger;
}
.linkModal{
    text-decoration: none;
}
.btn{
    z-index: 1;
}

/*Checkout*/
.page_header{
    margin: 2rem;
}

#yourInformation{
    border: solid 1px rgb(0, 0, 0);

}

#yourProducts{
    border: solid 1px rgb(0, 0, 0);
 
}
.form-group{
    padding-top: 0.7rem ;
}


/* Our carts */
#cart{
    margin-top: 1rem;
}

.cartItem{
    display: grid;
    grid-template: 60fr 40fr / 15fr 85fr;
    border: solid 1px grey;
    margin-bottom: 1rem;
    padding: 0.3rem;
    border-radius: 0.7rem;
}

.cartImage{
    width: 90%;
   
 }
 
 .box_left{
     width: 100%;
   
   /*  border: solid 1px grey; */
     grid-row: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .box_title{
     width: 100%;
     height: 100%;
     display: flex;
 }
 .iTitle{
    font-weight: 500;
}

.removeItemBox{
    display: flex;
    justify-content: end;
    text-align: center;
}

.removeItemBtn{
    padding: 0;
    width: 3rem;
    height: 2rem;
    font-weight: 700;
    color: rgb(221, 7, 7);
    border: 2px solid;
    line-height: 1rem;

}


.box_price{
   
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
}

.iQty{
    margin: 2rem;
    margin-right: 1rem;
}


.btnBox .btn{
    padding: 0rem 0.3rem;
    height: 1.5rem;
    font-weight: 700;
    line-height: 1rem;
   
}

.btnBox{
    display: grid;
    grid-template-columns: 30fr 30fr 30fr;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.addBtn{
    color: green;
    
}
.removeBtn{
   color:brown;
   
}

.icount{
    width: 1.5rem;
    height: 1.5rem;
    padding-inline: 0.4rem;
}

.iPrice{
    margin-left: 1rem;
    font-size: small;
}

.iPriceTot{
    margin-right: 2rem;
    text-align: right;
    font-weight: 600;
}

#totalPrice{
    padding-top: 0.5rem;
    margin-top: 1rem;
    border-top: 1px dotted;
}

#btn_clearCart{
    width: 7rem;
 }

/* footer */

.footer {
    clear: both;
    position: relative;
    height: 100px;
    margin-top: -10px;
    clear: both;
    background-color: rgb(156, 182, 167);
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    background-color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: rgb(56, 85, 68);
    transition: 0.5s;
}

.socialIcons a:hover i {
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
    
}

.footerNav ul{
    display: flex;
    justify-content: center;
    
}
ul {
    list-style: none;
}
.footerNav ul li a{
    color: rgb(5, 5, 5);
    margin: 40px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: rgb(91, 116, 102);
    padding: 20px;
    text-align: center;
}
.designer {
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
/* popup contact.html */

.message{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.message .success{
    font-size: 20px;
    color: green;
    position: absolute;
    animation: buttons 5s linear;
    display: none;
}
.message .danger{
    font-size: 20px;
    color: red;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}
